#ingreso {
 	float: right;
	width: 60%;
	border: red 16px solid;
    margin: 3%;
    box-sizing: border-box;

}
#pie{
		border: black 14px solid;

}

.container{
	width: 90%;
	max-width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.main{
	width: 75%;
	background: #fff;
}
aside{
	width: 35%;
	padding: 24px;
	box-sizing: border-box;
}
#imag{
	width: 100%;
	height: auto;
}
@media screen and (max-width: 800px){
	#ingreso{
		width: 100%;

	}
	aside{
		width: 100%;
	}
	
}

@media screen and (max-width: 400px){
	.container{
		width: 100%;
		background-color: #FBEFF2;
	}
	#img{
		width: 82%;
	}
}
#ingreso {
 	float: right;
	width: 35%;
	border: red 10px solid;
    margin: 5%;
    box-sizing: border-box;

}
#pie{
		border: white 10px solid;

}

.container{
	width: 90%;
	max-width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.main{
	width: 80%;
	background: #fff;
}
aside{
	width: 40%;
	padding: 20px;
	box-sizing: border-box;
}
#imag{
	width: 100%;
	height: auto;
}
@media screen and (max-width: 800px){
	#ingreso{
		width: 100%;

	}
	aside{
		width: 100%;
	}
	#img{
		width: 85%;
	}
	
}

@media screen and (max-width: 400px){
	.container{
		width: 100%;
		background-color: #FBEFF2;
	}
	#img{
		width: 82%;
	}
}
